@import '_colors';
@import '_mixins';

*{
    margin: 0px;
    font-family: 'Monserrat', sans-serif;
    text-decoration: none;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: $nav-color;
    
    .title{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .ball{
            margin-top: 25px;
            @include ball;
        }

        h1{
            @include title;
        }
    }
    

    h3 {
        @include title; 
        text-decoration: none;
    }

        .right-nav {
            @include side-nav;
        }

        .left-nav {
            @include side-nav;
        }
}


        

.main{
    @include formPage;

    button{
        @include button-ball
    }
}

.row {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../assets/foot-stadium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    
    .card {
        background-color: $form-color;
        opacity: 0.9;
        color: $main-color;
        display: flex;
        flex-direction: row;
        width: 70%;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: 25px;

        .image {
            width: 350px;
            height: 350px;
            overflow: hidden;
            border-radius: 15px 0px 0px 15px;

            img {
                width: 350px;
                height: 350px;
                object-fit: cover;
            }
        }

        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 50%;

            p{
                margin-left: 20px;
                font-size: 16px;
            }

            .title{
                font-size: 20px;
                font-weight: bold;
            }

            button{
                @include button;
                margin-left: 200px;
            }
        }
    }
}

.background-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-image: url(../assets/foot-stadium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    color: white;
}

.post-single{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: $form-color;
    opacity: 0.9;
    border-radius: 15px;
    height: fit-content;
    margin-top: 50px;

    .image {
        width: 500px;
        height: 500px;
        border-radius: 15px 0px 0px 15px;

        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 15px 0px 0px 15px;
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;

        button {
                @include button;
                width: 30%;
                margin-left: 50px;
            }
    }
}

.add-comment{
    margin-top: 50px;
    width: 80%;
    height: 140px;

    h3{
        color: $main-color;
        text-transform: uppercase;
    }
    
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
    
    }
    textarea{
        width: 80%;
        height: 100px;
    }

    button{
        @include submit;
        margin-left: 25px;
    }
}

.comments-row{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 120px;
    padding: 20px;
    gap: 20px;

    .comment{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 15px;
        background-color: $form-color;
        .author{
            font-weight: bold;
            font-style: italic;
        }
    }
}

.create-post{
    @include formPage;
    form{
        margin-top: 50px;
        width: 40%;

        textarea{
            width: 80%;
            height: 100px;}
        button{
            @include button;
        }
    }
}

.sorry{
    margin-top: 20px;
    img{
        margin-top: 20px;
    }
}

.alert {
    color: red;
    margin-bottom: 20px;
    font-size: bold;
    font-style: italic;
}

.edit{
    @include formPage;
    
    form{
        width: 40%;
        height: fit-content;
        gap: 20px;
        padding: 20px;

            textarea{
                width: 80%;
                height: 200px;
            }
    }

    .buttons{
        display: flex;
        gap: 20px;

        button {
                @include button;
            }

        .delete{
            color: white;
            background-color: black;
        }
    }

}

.image{
    background-image: url(../assets/USG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.comments-row{
    margin-right: 125px;
    
    .comment-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $form-color;
        border-radius: 15px;
        padding: 10px;
        width: fit-content;
        gap: 30px;

            .comment-value{
                display: flex;
                gap: 20px;

                .comment-user{
                    font-weight: bold;
                    font-size: 18px;
                    text-decoration: underline;
                }
            }
        
        .buttons{
            display: flex;
            gap: 10px;
            
            button{
                @include button
            }

            .black{
                color: white;
                background-color: black;
            }
        }

        .comment-change{
            display: flex;
            gap: 10px;
            button{
                @include submit;
            }
        }
    }
}

.hello{
    margin-right: 50px;
}